# Position and Label Based Indexing: ```df.iloc``` and ```df.loc```

You have seen some ways of selecting rows and columns from dataframes. Let's now see some other ways of indexing dataframes, which pandas recommends, since they are more explicit (and less ambiguous).

There are two main ways of indexing dataframes:
1. Position based indexing using ```df.iloc```
2. Label based indexing using ```df.loc```

Using both the methods, we will do the following indexing operations on a dataframe:
* Selecting single elements/cells
* Selecting single and multiple rows
* Selecting single and multiple columns
* Selecting multiple rows and columns

In [1]:
# loading libraries and reading the data
import numpy as np
import pandas as pd

df = pd.read_excel("Iris.xls")
df.head()

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Position (Integer) Based Indexing

Pandas provides the ```df.iloc``` functionality to index dataframes **using integer indices**.

In [0]:
help(pd.DataFrame.iloc)

Help on property:

    Purely integer-location based indexing for selection by position.

    ``.iloc[]`` is primarily integer position based (from ``0`` to
    ``length-1`` of the axis), but may also be used with a boolean
    array.

    Allowed inputs are:

    - An integer, e.g. ``5``.
    - A list or array of integers, e.g. ``[4, 3, 0]``.
    - A slice object with ints, e.g. ``1:7``.
    - A boolean array.
    - A ``callable`` function with one argument (the calling Series, DataFrame
      or Panel) and that returns valid output for indexing (one of the above).
      This is useful in method chains, when you don't have a reference to the
      calling object, but would like to base your selection on some value.

    ``.iloc`` will raise ``IndexError`` if a requested indexer is
    out-of-bounds, except *slice* indexers which allow out-of-bounds
    indexing (this conforms with python/numpy *slice* semantics).

    See more at ref:`Selection by Position <indexing.integer>`.

    See Also
    --------
    DataFrame.iat : Fast integer location scalar accessor.
    DataFrame.loc : Purely label-location based indexer for selection by label.
    Series.iloc : Purely integer-location based indexing for
                   selection by position.

    Examples
    --------

    >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
    ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
    ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
    >>> df = pd.DataFrame(mydict)
    >>> df
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    **Indexing just the rows**

    With a scalar integer.

    >>> type(df.iloc[0])
    <class 'pandas.core.series.Series'>
    >>> df.iloc[0]
    a    1
    b    2
    c    3
    d    4
    Name: 0, dtype: int64

    With a list of integers.

    >>> df.iloc[[0]]
       a  b  c  d
    0  1  2  3  4
    >>> type(df.iloc[[0]])
    <class 'pandas.core.frame.DataFrame'>

    >>> df.iloc[[0, 1]]
         a    b    c    d
    0    1    2    3    4
    1  100  200  300  400

    With a `slice` object.

    >>> df.iloc[:3]
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    With a boolean mask the same length as the index.

    >>> df.iloc[[True, False, True]]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    With a callable, useful in method chains. The `x` passed
    to the ``lambda`` is the DataFrame being sliced. This selects
    the rows whose index label even.

    >>> df.iloc[lambda x: x.index % 2 == 0]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    **Indexing both axes**

    You can mix the indexer types for the index and columns. Use ``:`` to
    select the entire axis.

    With scalar integers.

    >>> df.iloc[0, 1]
    2

    With lists of integers.

    >>> df.iloc[[0, 2], [1, 3]]
          b     d
    0     2     4
    2  2000  4000

    With `slice` objects.

    >>> df.iloc[1:3, 0:3]
          a     b     c
    1   100   200   300
    2  1000  2000  3000

    With a boolean array whose length matches the columns.

    >>> df.iloc[:, [True, False, True, False]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

    With a callable function that expects the Series or DataFrame.

    >>> df.iloc[:, lambda df: [0, 2]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

As mentioned in the documentation, the inputs x, y to ```df.iloc[x, y]``` can be:
* An integer, e.g. ```3```
* A list or array of integers, e.g. ```[3, 7, 8]```
* An integer range, i.e. ```3:8```
* A boolean array

Let's see some examples.

In [2]:
# Selecting a single element
# Note that 2, 4 corresponds to the third row and fifth column (Sales)
df.iloc[2, 4]

'Iris-setosa'

Note that simply writing ```df[2, 4]``` will throw an error, since pandas gets confused whether the 2 is an integer index (the third row), or is it a row with label = 2? 

On the other hand, ```df.iloc[2, 4]``` tells pandas explicitly that it should assume **integer indices**.

In [3]:
# Selecting a single row, and all columns
# Select the 6th row, with label (and index) = 5
df.iloc[5]

sepal length            5.4
sepal width             3.9
petal length            1.7
petal width             0.4
iris            Iris-setosa
Name: 5, dtype: object

In [7]:
# The above is equivalent to this
# The ":" indicates "all rows/columns"
df.iloc[5, :]

# equivalent to df.iloc[5, ]

sepal length            5.4
sepal width             3.9
petal length            1.7
petal width             0.4
iris            Iris-setosa
Name: 5, dtype: object

In [8]:
# Select multiple rows using a list of indices
df.iloc[[3, 7, 8]]

   sepal length  sepal width  petal length  petal width         iris
3           4.6          3.1           1.5          0.2  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa

In [9]:
# Equivalently, you can use:
df.iloc[[3, 7, 8], -1:]

# same as df.iloc[[3, 7, 8], ]

          iris
3  Iris-setosa
7  Iris-setosa
8  Iris-setosa

In [0]:
# Selecting rows using a range of integer indices
# Notice that 4 is included, 8 is not
df.iloc[4:8]

   sepal length  sepal width  petal length  petal width         iris
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

In [0]:
# or equivalently
df.iloc[4:8, :]

# or df.iloc[4:8, ]

   sepal length  sepal width  petal length  petal width         iris
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa

In [0]:
# Selecting a single column
# Notice that the column index starts at 0, and 2 represents the third column 
df.iloc[:, 2]

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
5      1.7
6      1.4
7      1.5
8      1.4
9      1.5
10     1.5
11     1.6
12     1.4
13     1.1
14     1.2
15     1.5
16     1.3
17     1.4
18     1.7
19     1.5
20     1.7
21     1.5
22     1.0
23     1.7
24     1.9
25     1.6
26     1.6
27     1.5
28     1.4
29     1.6
      ...
120    5.7
121    4.9
122    6.7
123    4.9
124    5.7
125    6.0
126    4.8
127    4.9
128    5.6
129    5.8
130    6.1
131    6.4
132    5.6
133    5.1
134    5.6
135    6.1
136    5.6
137    5.5
138    4.8
139    5.4
140    5.6
141    5.1
142    5.1
143    5.9
144    5.7
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: petal length, Length: 150, dtype: float64

In [0]:
# Selecting multiple columns
df.iloc[:, 2:5]

     petal length  petal width            iris
0             1.4          0.2     Iris-setosa
1             1.4          0.2     Iris-setosa
2             1.3          0.2     Iris-setosa
3             1.5          0.2     Iris-setosa
4             1.4          0.2     Iris-setosa
5             1.7          0.4     Iris-setosa
6             1.4          0.3     Iris-setosa
7             1.5          0.2     Iris-setosa
8             1.4          0.2     Iris-setosa
9             1.5          0.1     Iris-setosa
10            1.5          0.2     Iris-setosa
11            1.6          0.2     Iris-setosa
12            1.4          0.1     Iris-setosa
13            1.1          0.1     Iris-setosa
14            1.2          0.2     Iris-setosa
15            1.5          0.4     Iris-setosa
16            1.3          0.4     Iris-setosa
17            1.4          0.3     Iris-setosa
18            1.7          0.3     Iris-setosa
19            1.5          0.3     Iris-setosa
20            1.7          0.2     Iris-setosa
21            1.5          0.4     Iris-setosa
22            1.0          0.2     Iris-setosa
23            1.7          0.5     Iris-setosa
24            1.9          0.2     Iris-setosa
25            1.6          0.2     Iris-setosa
26            1.6          0.4     Iris-setosa
27            1.5          0.2     Iris-setosa
28            1.4          0.2     Iris-setosa
29            1.6          0.2     Iris-setosa
..            ...          ...             ...
120           5.7          2.3  Iris-virginica
121           4.9          2.0  Iris-virginica
122           6.7          2.0  Iris-virginica
123           4.9          1.8  Iris-virginica
124           5.7          2.1  Iris-virginica
125           6.0          1.8  Iris-virginica
126           4.8          1.8  Iris-virginica
127           4.9          1.8  Iris-virginica
128           5.6          2.1  Iris-virginica
129           5.8          1.6  Iris-virginica
130           6.1          1.9  Iris-virginica
131           6.4          2.0  Iris-virginica
132           5.6          2.2  Iris-virginica
133           5.1          1.5  Iris-virginica
134           5.6          1.4  Iris-virginica
135           6.1          2.3  Iris-virginica
136           5.6          2.4  Iris-virginica
137           5.5          1.8  Iris-virginica
138           4.8          1.8  Iris-virginica
139           5.4          2.1  Iris-virginica
140           5.6          2.4  Iris-virginica
141           5.1          2.3  Iris-virginica
142           5.1          1.9  Iris-virginica
143           5.9          2.3  Iris-virginica
144           5.7          2.5  Iris-virginica
145           5.2          2.3  Iris-virginica
146           5.0          1.9  Iris-virginica
147           5.2          2.0  Iris-virginica
148           5.4          2.3  Iris-virginica
149           5.1          1.8  Iris-virginica

[150 rows x 3 columns]

In [0]:
# Selecting multiple rows and columns
df.iloc[2:5, 1:5]

   sepal width  petal length  petal width         iris
2          3.2           1.3          0.2  Iris-setosa
3          3.1           1.5          0.2  Iris-setosa
4          3.6           1.4          0.2  Iris-setosa

In [0]:
# Using booleans
# This selects the rows corresponding to True
df.iloc[[True, True, False, True, True, False, True]]

   sepal length  sepal width  petal length  petal width         iris
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa

To summarise, ```df.iloc[x, y]``` uses integer indices starting at 0.

The other common way of indexing is the **label based** indexing, which uses ```df.loc[]```.

### Label Based Indexing

Pandas provides the ```df.loc[]``` functionality to index dataframes **using labels**.

In [0]:
help(pd.DataFrame.loc)

Help on property:

    Purely label-location based indexer for selection by label.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'`` (note that contrary
      to usual python slices, **both** the start and the stop are included!).
    - A boolean array.
    - A ``callable`` function with one argument (the calling Series, DataFrame
      or Panel) and that returns valid output for indexing (one of the above)

    ``.loc`` will raise a ``KeyError`` when the items are not found.

    See more at :ref:`Selection by Label <indexing.label>`

As mentioned in the documentation, the inputs x, y to df.loc[x, y] can be:
* A single label, e.g. ```'3'``` or ```'row_index'```
* A list or array of labels, e.g. ```['3', '7', '8']```
* A range of labels, where ```row_x``` and ```row_y``` **both are included**, i.e. ```'row_x':'row_y'```
* A boolean array <br>
Let's see some examples.

In [0]:
# Selecting a single element
# Select row label = 2 and column label = 'Sales
df.loc[2, 'petal width']

0.2

In [0]:
# Selecting a single row using a single label
# df.loc reads 5 as a label, not index
df.loc[5]

sepal length            5.4
sepal width             3.9
petal length            1.7
petal width             0.4
iris            Iris-setosa
Name: 5, dtype: object

In [0]:
# or equivalently
df.loc[5, :]

# or market_df.loc[5, ]

sepal length            5.4
sepal width             3.9
petal length            1.7
petal width             0.4
iris            Iris-setosa
Name: 5, dtype: object

In [0]:
# Select multiple rows using a list of row labels
df.loc[[4, 6, 9]]

   sepal length  sepal width  petal length  petal width         iris
4           5.0          3.6           1.4          0.2  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [0]:
# Selecting rows using a range of labels
# Notice that with df.loc, both 4 and 8 are included, unlike with df.iloc
# This is an important difference between iloc and loc
df.loc[4:8]

   sepal length  sepal width  petal length  petal width         iris
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa

In [0]:
# Or equivalently
df.loc[4:8, ]

   sepal length  sepal width  petal length  petal width         iris
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa

In [0]:
# Or equivalently
df.loc[4:8, :]

   sepal length  sepal width  petal length  petal width         iris
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa

In [0]:
# The use of label based indexing will be more clear when we have custom row indices
# Let's change the indices to Ord_id
df.set_index('sepal length', inplace = True)
df.head()

              sepal width  petal length  petal width         iris
sepal length
5.1                   3.5           1.4          0.2  Iris-setosa
4.9                   3.0           1.4          0.2  Iris-setosa
4.7                   3.2           1.3          0.2  Iris-setosa
4.6                   3.1           1.5          0.2  Iris-setosa
5.0                   3.6           1.4          0.2  Iris-setosa

To summarise, we discussed two **explicit ways of indexing dataframes** - ```df.iloc[]``` and ```df.loc[]```.

## Resources
1. <a href="https://medium.com/swlh/exhaustive-introduction-to-pandas-in-python-cdfd9d3846f2">Introduction to Pandas in Python — Guide for iloc and loc</a>
2. <a href="https://medium.com/analytics-vidhya/mastering-pandas-indexing-loc-iloc-47ee22b009db">Mastering Pandas Indexing: loc & iloc</a>